@charset "UTF-8";
body  {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #7D0000;
	background-image: url(images/red151.jpg);
}
.thrColFixHdr #container {
	width: 780px;
	margin: 0 auto;
	text-align: left; /* this overrides the text-align: center on the body element. */
	background-color: #FFFFFF;
} 
.thrColFixHdr #sidebar1 {
	float: left; /* since this element is floated, a width must be given */
	width: 150px; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0px 0px 15px 0px; /* padding keeps the content of the div away from the edges */
}
.thrColFixHdr #sidebar2 {
	float: right; /* since this element is floated, a width must be given */
	width: 160px; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 15px 10px 15px 10px; /* padding keeps the content of the div away from the edges */
	background-color: #D79862;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.thrColFixHdr #mainContent {
	margin-top: 0;
	margin-right: 180px;
	margin-bottom: 0;
	margin-left: 155px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
} 
.thrColFixHdr #footer { 
	padding: 0 10px 0 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#DDDDDD;
} 
.thrColFixHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
#text3 .p1 strong {
	font-size: 10px;
}
#text4 .p1 strong {
	font-size: 10px;
}
